<% @messages.each do |message| %>
  <div class="panel">
    <% other = @conversation.sender == current_user ? @conversation.recipient : @conversation.sender %>
    <% if !other %>
    <div class="panel-body">
      <div class="col-md-3 text-center">
        <%= image_tag message.user.profile_pic.url(:thumb), class: "img-circle avatar-medium" %><br>
        <h5><%= message.user.fullname %></h5>
        <span><%= message.message_time %></span><br>
      </div>
      <div class="col-md-9">
        <%= message.content %>
      </div>
      <br>
    </div>

    <% else %>

    <div class="panel-body blue">
      <div class="col-md-3 text-center">
        <%= image_tag message.user.profile_pic.url(:thumb), class: "img-circle avatar-medium" %><br>
        <h5><%= message.user.fullname %></h5>
        <span><%= message.message_time %></span><br>
      </div>
      <div class="col-md-9">
        <%= message.content %>
      </div>
      <br>
    </div>

    <% end %>

  </div>
<% end %>
