<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listing", rooms_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Trips", trips_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Trips
      </div>
      <div class="panel-body">
        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <strong>Trip Dates</strong><br>
              <%= trip.start_date.strftime('%b %d %Y') %><br>
              <%= trip.end_date.strftime('%b %d %Y') %>
            </div>
            <div class="col-md-2">
              <%= link_to (image_tag trip.room.photos[0].image.url(:thumb)), room_path(trip.room) %>
            </div>
            <div class="col-md-6">
              <%= link_to trip.room.listing_name, room_path(trip.room) %>
              <h4>$ <%= trip.total %> Total</h4>
            </div>
            <div class="col-md-2">
              <%= link_to user_path(trip.room.user) do %>
              <%= image_tag trip.room.user.profile_pic.url(:thumb), class: "img-circle avatar-small" %>&nbsp;
              <%= trip.room.user.fullname %>
              <% end %>
            </div>
            <!-- <div class="col-md-2">
            </div> -->
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
